<a href="https://colab.research.google.com/github/zwelshman/collections/blob/main/learning-lab/notebooks/development_environment/PySpark_Development_Enviroment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PySpark Development Environment

This notebooks aims to provide a quick development environment for PySpark

Install dependencies and create a spark session:

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

Begin mocking out your idea!

In [ ]:
from pyspark.sql import functions as F

df_a = (
    spark.createDataFrame(
        [
            ("1", "2020-02-01", 1, 'A1'),
            ("1", "2021-02-11", 2, 'A2'),
            ("1", "2020-02-01", 3, 'B1'),

            ("2", "2020-02-01", 1, 'A3'),
            ("2", "2021-02-23", 2, 'B1'),
            ("2", "2020-05-01", 3, None),

            ("3", "2020-01-01", 1, 'A1'),
            ("3", "2021-02-23", 2, 'B1'),
            ("3", "2020-05-01", 3, 'B2'),

            ("4", "2020-01-01", 1, 'A1'),
            ("4", "2021-02-23", 2, 'A2'),
            ("4", "2020-05-01", 3, 'A3'),
        ],
        ['person_id', 'date', 'diagnostic_position','diagnostic_code']
    )
    .withColumn('date', F.to_date(F.col('date')))
)

display(df_a)

+---------+----------+-------------------+---------------+
|person_id|      date|diagnostic_position|diagnostic_code|
+---------+----------+-------------------+---------------+
|        1|2020-02-01|                  1|             A1|
|        1|2021-02-11|                  2|             A2|
|        1|2020-02-01|                  3|             B1|
|        2|2020-02-01|                  1|             A3|
|        2|2021-02-23|                  2|             B1|
|        2|2020-05-01|                  3|           null|
|        3|2020-01-01|                  1|             A1|
|        3|2021-02-23|                  2|             B1|
|        3|2020-05-01|                  3|             B2|
|        4|2020-01-01|                  1|             A1|
|        4|2021-02-23|                  2|             A2|
|        4|2020-05-01|                  3|             A3|
+---------+----------+-------------------+---------------+